.disappear {
    @keyframes disappear {
        from {opacity: 1;}
        to {opacity: 0;}
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__wrapper {
        display: inline-block;
    }

    @keyframes typing {
        from {width: 0;}
        to {width: 100%;}
    }

    @keyframes cursor {
        0% {
            border-color: rgb(98, 242, 255);
        }
        50% {
            border-color: transparent;
        }
        100% {
            border-color: rgb(98, 242, 255)
        }
    }

    @keyframes lightOn {
        0% {
            color: rgb(0, 72, 83);
            text-shadow: none;
        }
        50% {
            color: var(--color-first);
            text-shadow: 
    0px 0px 2px rgb(173, 247, 255),
    0px 0px 4px rgb(98, 242, 255),
    0px 0px 8px rgb(67, 230, 255),
    0px 0px 16px rgb(35, 226, 255),
    0px 0px 40px rgb(0, 221, 255);
        }
        100% {
            text-shadow: 
            0px 0px 2px rgb(173, 247, 255),
            0px 0px 4px rgb(98, 242, 255),
            0px 0px 8px rgb(67, 230, 255),
            0px 0px 16px rgb(35, 226, 255);
        }
    }

    @keyframes appear {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    &__title {
        padding: 30px;
        overflow: hidden;
        white-space: nowrap;
        margin-bottom: 10px;

        color: var(--color-first);

        font-weight: 600;
        font-size: 55px;

        animation: lightOn 1.5s ease-in;
        user-select: none;

        @include tablet {
            font-size: 45px;
        }

        @include mobile {
            font-size: 45px;
        }
    }

    &__new-task {
        display: flex;
        justify-content: center;
        margin-top: -15px;

        column-gap: 0px;
        width: 100%;

        animation: appear 0.5s forwards;
    }

    &__create-task {
        font-family: var(--font-family);
        font-size: 20px;

        width: 40%;
        padding: 10px 15px;
        border: 2px solid var(--color-first);

        background-color: var(--color-second);
        color: var(--color-first);

        border: 2px solid var(--color-first);
        border-right: 1px solid var(--color-first);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        box-shadow: 
    inset 0px 0px 2px rgb(173, 247, 255),
    inset 0px 0px 4px rgb(98, 242, 255),
    inset 0px 0px 8px rgb(67, 230, 255),
          0px 0px 2px rgb(173, 247, 255),
          0px 0px 4px rgb(98, 242, 255),
          0px 0px 8px rgb(67, 230, 255);

    text-shadow: 
    0px 0px 2px rgb(173, 247, 255),
    0px 0px 4px rgb(98, 242, 255);
        
        &:focus {
            outline: none;
        }

        &::placeholder {
            font-family: var(--font-family);
            color: rgb(0, 72, 83);
            user-select: none;
            text-shadow: none;

            @include mobile-small {
                font-size: 22.5px;
            }
        }

        @include tablet {
            width: 50%;
        }

        @include mobile-small {
            width: 60%;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            font-size: 22.5px;
        }
    }

    &__button {
        font-family: var(--font-family);
        font-size: 25px;
        font-weight: 800;

        background-color: var(--color-second);
        color: var(--color-first);

        width: 10%;

        border: 2px solid var(--color-first);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        box-shadow: 
    inset 0px 0px 2px rgb(173, 247, 255),
    inset 0px 0px 4px rgb(98, 242, 255),
    inset 0px 0px 8px rgb(67, 230, 255),
          0px 0px 2px rgb(173, 247, 255),
          0px 0px 4px rgb(98, 242, 255),
          0px 0px 8px rgb(67, 230, 255);

          text-shadow: 
    0px 0px 2px rgb(173, 247, 255),
    0px 0px 4px rgb(98, 242, 255),
    0px 0px 8px rgb(67, 230, 255),
    0px 0px 16px rgb(35, 226, 255);
        
        cursor: pointer;
        user-select: none;

        &:hover {
            opacity: 0.5;
        };

        &:active {
            text-decoration: underline;
        }

        @include tablet {
            width: 10%;
            font-size: 25px;
        }

        @include mobile {
            width: 20%;
        }

        @include mobile-small {
            width: 25%;

            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
}