@keyframes appear {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}
@keyframes drop {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes disappear {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(80px);
    }
}
@keyframes disappear-mobile {
    from {
        opacity: 1;
        transform: translateY(0)
    }
    to {
        opacity: 0;
        transform: translateY(20px)
    }
}

.main {
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

.tasks {
    width: 50%;
    padding: 10px;
    min-height: 300px;
    margin-top: 20px;

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin: 0;
        padding: 0;

        &__total {
            display: flex;
            justify-content: center;
            column-gap: 10px;

            p {
                margin: 15px 15px;
                font-size: 30px;
                font-weight: 600;
                align-self: center;
                user-select: none;
                animation: appear 0.5s forwards;
                color: transparent;
                background: var(--button-gradient);
                -webkit-background-clip: text;
            }

            &__delete {
                border: 2px solid transparent;
                border-radius: 15px;
                align-self: center;
                padding: 7.5px 40px;
                font-family: var(--font-family);
                font-size: 25px;
                font-weight: 600;
                color: var(--color-first);
                background: var(--button-gradient);
                cursor: pointer; 
                animation: appear 0.5s forwards;
                transition: 0.2s;

                &:hover {
                    background: linear-gradient(to right, #003459, #040F16);
                    text-decoration: underline
                };
            }

            @include mobile-small {
                margin-top: -10px;
                flex-direction: column;
            }
        }
    }

    &__item {
        background: var(--block-gradient);
        color: var(--color-first);
        word-wrap: break-word;
        display: flex;
        justify-content: space-between;
        border-radius: 15px;
        padding: 5px 7.5px;
        font-size: 22.5px;
        font-weight: 400;
        animation: drop 0.3s forwards;
        transition: 0.5s;

        &__buttons {
            display: flex;
            justify-content: space-between;
            align-self: center;
            column-gap: 2px;
        }

        &__item-wrapper {
            display: flex;
            column-gap: 5px;
        }

        &__text-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 7.5px;
        }

        &.remove {
            animation: disappear 0.4s forwards;

            @include mobile {
                animation: disappear-mobile 0.4s forwards;
            }
        }

        &.done {
           text-decoration: line-through;
           background: #3b4a5f89;
        }
    }

    &__button {
        border: none;
        border-radius: 15px;
        background: var(--button-gradient);
        padding: 6px 10px;
        cursor: pointer;
        transition: 0.15s;

        &:hover {
            opacity: 0.55;
        };

        &__done {
            &.completed {
                opacity: 0.3;
                cursor: default;
            }
        }
    }

    @include tablet {
        width: 60%;
    }
    @include mobile {
        width: 80%;
    }
    @include mobile-small {
        width: 100%;
    }
}

