@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes drop {
    from {transform: translateY(-20px);}
    to {transform: translateY(0);}
}

@keyframes disappear {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(80px);
    }
}

@keyframes disappear-mobile {
    from {
            opacity: 1;
            transform: translateY(0)
    }
    to {
            opacity: 0;
            transform: translateY(20px)
    }
}


.main {
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

.tasks {
    width: 50%;
    padding: 10px;
    min-height: 300px;
    margin-top: 20px;

    &__list {
        list-style: none;

        display: flex;
        flex-direction: column;

        row-gap: 10px;
        margin: 0;
        padding: 0;

        &__total {
            display: flex;
            justify-content: center;
            column-gap: 10px;

            p {
                margin: 15px;
                font-size: 30px;
                font-weight: 600;
                align-self: center;
                user-select: none;

                animation: appear 0.5s forwards;
            }

            &__delete {
                border: 2px solid var(--color-first);
                border-radius: 15px;
    
                align-self: center;
                padding: 5px 20px;
    
                font-family: var(--font-family);
                font-size: 25px;
                font-weight: 600;
    
                color: var(--color-second);
                background-color: rgb(98, 242, 255);

                box-shadow: 
    0px 0px 2px rgb(173, 247, 255),
    0px 0px 4px rgb(98, 242, 255),
    0px 0px 8px rgb(67, 230, 255);
    
                cursor: pointer; 
                transition: 0.2s;
                animation: appear 0.5s forwards;
    
                &:hover {
                    background-color: var(--color-second);
                    color: var(--color-first);
                }
            }

            @include mobile-small {
                margin-top: -10px;
                flex-direction: column;
            }
        }
    }

    &__item {
        background-color: var(--color-second);
        color: var(--color-first);

        word-wrap: break-word;
        display: flex;
        justify-content: space-between;
        text-decoration: none;

        border: 2px solid var(--color-first);
        border-radius: 20px;

        box-shadow: 
    inset 0px 0px 2px rgb(173, 247, 255),
    inset 0px 0px 4px rgb(98, 242, 255),
    inset 0px 0px 8px rgb(67, 230, 255),
          0px 0px 2px rgb(173, 247, 255),
          0px 0px 4px rgb(98, 242, 255),
          0px 0px 8px rgb(67, 230, 255);



        padding: 5px 7.5px;

        font-size: 20px;
        font-weight: 400;

        opacity: 1;
        animation: appear 0.3s forwards, drop 0.3s forwards;
        will-change: transform;
        transition: 0.2s;

        &__buttons {
            display: flex;
            justify-content: space-between;
            align-self: center;
            column-gap: 5px;
        }

        &__item-wrapper {
            display: flex;
            column-gap: 5px;
        }

        &__text-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 7.5px;
        }

        @include mobile-small {
            font-size: 22.5px;
            border-radius: 20px;
        }

        &.remove {
            animation: disappear 0.4s forwards;

            @include mobile {
                animation: disappear-mobile 0.4s forwards;
            }
        }

        &.done {
           text-decoration: line-through;
           color: rgb(0, 72, 83);
           text-shadow: none;
           border-color: rgb(0, 72, 83); 

           box-shadow: none;
        }
    }

    &__button {
        border: 2px solid white;
        border-radius: 15px;
        background-color: rgb(120, 244, 255);

        box-shadow: 
    0px 0px 2px rgb(173, 247, 255),
    0px 0px 4px rgb(98, 242, 255),
    0px 0px 8px rgb(67, 230, 255);

        padding: 4px 8px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            opacity: 0.5;
        };

        &__done {
            &.completed {
                opacity: 0.5;
                cursor: default;
                box-shadow: none;
                border: 2px solid transparent;

                background-color: rgb(0, 72, 83);
            }
        }
    }

    @include tablet {
        width: 60%;
    }

    @include mobile {
        width: 80%;
    }

    @include mobile-small {
        width: 100%;
    }
}

