@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes drop {
    from {transform: translateY(0);}
    to {transform: translateY(20px);}
}

@keyframes disappear {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100px);
    }
}

.main {
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

.tasks {
    width: 50%;
    padding: 10px;
    min-height: 300px;

    &__list {
        list-style: none;

        display: flex;
        flex-direction: column;

        row-gap: 10px;
        margin: 0;
        padding: 0;

        &__total {
            display: flex;
            justify-content: center;
            column-gap: 30px;
            margin-top: 10px;

            p {
                margin: 20px;
                font-size: 30px;
                font-weight: 600;
                align-self: center;
                user-select: none;
            }

            &__delete {
                border: none;
                border-radius: 10px;
    
                align-self: center;
                padding: 12px 60px;
    
                font-family: var(--font-family);
                font-size: 25px;
                font-weight: 600;
    
                color: #114f67;
                background-color: white;
    
                cursor: pointer; 
                transition: 0.2s;
                animation: appear 0.5s forwards;
    
                &:hover {
                    background-color: #114f67;
                    color: white;
                }
            }

            @include mobile-small {
                column-gap: 10px;
                flex-direction: column;
            }
        }
    }

    &__item {
        position: relative;

        background-color: white;
        color: #114f67;

        word-wrap: break-word;
        display: flex;
        justify-content: space-between;

        border: none;
        border-radius: 10px;

        padding: 5px 7.5px;

        font-size: 20px;
        font-weight: 400;

        opacity: 1;
        animation: appear 0.3s forwards, drop 0.3s forwards;
        will-change: transform;

        &__buttons {
            display: flex;
            justify-content: space-between;
            align-self: center;
            column-gap: 5px;
        }

        &__item-wrapper {
            display: flex;
            column-gap: 5px;
        }

        &__text-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 7.5px;
        }

        @include mobile-small {
            font-size: 22.5px;
            border-radius: 7.5px;
        }
    }

    &__button {
        border: none;
        border-radius: 7.5px;

        background-color: #114f67;
        padding: 6px 10px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            opacity: 0.7;
        }
    }

    @include tablet {
        width: 60%;
    }

    @include mobile {
        width: 80%;
    }

    @include mobile-small {
        width: 100%;
    }
}

.done {
    background-color: #114f676e;
    color: rgba(255, 255, 255, 0.818);
}

.remove {
    top: 20px;
    animation: disappear 0.3s forwards;
}