:root {
    --color-first: white;
    --color-second: black;
    --font-family: 'Nunito';
    --button-gradient: linear-gradient(to top, #003459, #040F16);
    --block-gradient: linear-gradient(to right, #1D2D44, #3E5C76);
}