:root {
  --color-first: white;
  --color-second: #080708;
  --font-family: "Nunito";
}

@font-face {
  font-family: "Nunito";
  src: url("fonts/Nunito-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  row-gap: 30px;
}
.header__wrapper {
  display: inline-block;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes cursor {
  0% {
    border-color: rgb(98, 242, 255);
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: rgb(98, 242, 255);
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header__title {
  padding-inline: 10px;
  overflow: hidden;
  white-space: nowrap;
  width: 0%;
  margin-bottom: 10px;
  border-right: solid 3px;
  color: var(--color-first);
  text-shadow: 0px 0px 2px rgb(173, 247, 255), 0px 0px 4px rgb(98, 242, 255), 0px 0px 8px rgb(67, 230, 255), 0px 0px 16px rgb(35, 226, 255);
  font-weight: 600;
  font-size: 55px;
  animation: typing 1s steps(8, end) forwards, cursor 1s step-end infinite;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 1020px) {
  .header__title {
    font-size: 45px;
  }
}
@media (max-width: 770px) {
  .header__title {
    font-size: 45px;
  }
}
.header__new-task {
  display: flex;
  justify-content: center;
  margin-top: -15px;
  -moz-column-gap: 0px;
       column-gap: 0px;
  width: 100%;
  animation: appear 0.5s forwards;
}
.header__create-task {
  font-family: var(--font-family);
  font-size: 20px;
  width: 40%;
  padding: 10px 15px;
  border: 2px solid var(--color-first);
  background-color: var(--color-second);
  color: var(--color-first);
  border: 2px solid var(--color-first);
  border-right: 1px solid var(--color-first);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: inset 0px 0px 2px rgb(173, 247, 255), inset 0px 0px 4px rgb(98, 242, 255), inset 0px 0px 8px rgb(67, 230, 255), 0px 0px 2px rgb(173, 247, 255), 0px 0px 4px rgb(98, 242, 255), 0px 0px 8px rgb(67, 230, 255);
  text-shadow: 0px 0px 2px rgb(173, 247, 255), 0px 0px 4px rgb(98, 242, 255);
}
.header__create-task:focus {
  outline: none;
}
.header__create-task::-moz-placeholder {
  font-family: var(--font-family);
  color: rgb(0, 72, 83);
  -moz-user-select: none;
       user-select: none;
  text-shadow: none;
}
.header__create-task::placeholder {
  font-family: var(--font-family);
  color: rgb(0, 72, 83);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-shadow: none;
}
@media (max-width: 480px) {
  .header__create-task::-moz-placeholder {
    font-size: 22.5px;
  }
  .header__create-task::placeholder {
    font-size: 22.5px;
  }
}
@media (max-width: 1020px) {
  .header__create-task {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .header__create-task {
    width: 60%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 22.5px;
  }
}
.header__button {
  font-family: var(--font-family);
  font-size: 25px;
  font-weight: 800;
  background-color: rgb(98, 242, 255);
  color: var(--color-second);
  width: 10%;
  border: 2px solid var(--color-first);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 2px rgb(173, 247, 255), 0px 0px 4px rgb(98, 242, 255), 0px 0px 8px rgb(67, 230, 255);
  cursor: pointer;
  transition: 0.15s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header__button:hover {
  background-color: var(--color-second);
  color: white;
}
.header__button:active {
  text-decoration: underline;
}
@media (max-width: 1020px) {
  .header__button {
    width: 10%;
    font-size: 25px;
  }
}
@media (max-width: 770px) {
  .header__button {
    width: 20%;
  }
}
@media (max-width: 480px) {
  .header__button {
    width: 25%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes drop {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes disappear {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(80px);
  }
}
@keyframes disappear-mobile {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
.main {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}

.tasks {
  width: 50%;
  padding: 10px;
  min-height: 300px;
  margin-top: 20px;
}
.tasks__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 0;
  padding: 0;
}
.tasks__list__total {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.tasks__list__total p {
  margin: 15px;
  font-size: 30px;
  font-weight: 600;
  align-self: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  animation: appear 0.5s forwards;
}
.tasks__list__total__delete {
  border: 2px solid var(--color-first);
  border-radius: 15px;
  align-self: center;
  padding: 5px 20px;
  font-family: var(--font-family);
  font-size: 25px;
  font-weight: 600;
  color: var(--color-second);
  background-color: rgb(98, 242, 255);
  box-shadow: 0px 0px 2px rgb(173, 247, 255), 0px 0px 4px rgb(98, 242, 255), 0px 0px 8px rgb(67, 230, 255);
  cursor: pointer;
  transition: 0.2s;
  animation: appear 0.5s forwards;
}
.tasks__list__total__delete:hover {
  background-color: var(--color-second);
  color: var(--color-first);
}
@media (max-width: 480px) {
  .tasks__list__total {
    margin-top: -10px;
    flex-direction: column;
  }
}
.tasks__item {
  background-color: var(--color-second);
  color: var(--color-first);
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  border: 2px solid var(--color-first);
  border-radius: 20px;
  box-shadow: inset 0px 0px 2px rgb(173, 247, 255), inset 0px 0px 4px rgb(98, 242, 255), inset 0px 0px 8px rgb(67, 230, 255), 0px 0px 2px rgb(173, 247, 255), 0px 0px 4px rgb(98, 242, 255), 0px 0px 8px rgb(67, 230, 255);
  padding: 5px 7.5px;
  font-size: 20px;
  font-weight: 400;
  opacity: 1;
  animation: appear 0.3s forwards, drop 0.3s forwards;
  will-change: transform;
  transition: 0.2s;
}
.tasks__item__buttons {
  display: flex;
  justify-content: space-between;
  align-self: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.tasks__item__item-wrapper {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.tasks__item__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 7.5px;
}
@media (max-width: 480px) {
  .tasks__item {
    font-size: 22.5px;
    border-radius: 20px;
  }
}
.tasks__item.remove {
  animation: disappear 0.4s forwards;
}
@media (max-width: 770px) {
  .tasks__item.remove {
    animation: disappear-mobile 0.4s forwards;
  }
}
.tasks__item.done {
  text-decoration: line-through;
  color: rgb(0, 72, 83);
  text-shadow: none;
  border-color: rgb(0, 72, 83);
  box-shadow: none;
}
.tasks__button {
  border: 2px solid white;
  border-radius: 15px;
  background-color: rgb(120, 244, 255);
  box-shadow: 0px 0px 2px rgb(173, 247, 255), 0px 0px 4px rgb(98, 242, 255), 0px 0px 8px rgb(67, 230, 255);
  padding: 4px 8px;
  cursor: pointer;
  transition: 0.2s;
}
.tasks__button:hover {
  opacity: 0.5;
}
.tasks__button__done.completed {
  opacity: 0.5;
  cursor: default;
  box-shadow: none;
  border: 2px solid transparent;
  background-color: rgb(0, 72, 83);
}
@media (max-width: 1020px) {
  .tasks {
    width: 60%;
  }
}
@media (max-width: 770px) {
  .tasks {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .tasks {
    width: 100%;
  }
}

body {
  background-color: #080708;
  font-family: var(--font-family);
  color: white;
  text-shadow: 0px 0px 2px rgb(173, 247, 255), 0px 0px 4px rgb(98, 242, 255), 0px 0px 8px rgb(67, 230, 255), 0px 0px 16px rgb(35, 226, 255);
}/*# sourceMappingURL=styles.css.map */